<% if user_signed_in? %>
<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<br />
<%= link_to "Homepage", root_path, class: "btn btn-primary" %>
<%= link_to "New Code", new_code_path, class: "btn btn-primary" %>
<%= link_to "log out", destroy_user_session_path, :method => :delete, class: "btn-primary" %> 
<br />
<br />

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Name</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>
   
   <tbody>
      <% @codes.each do |code| %>
         <% if code.user == current_user.id%>
         <tr>
            <td><%= code.name %></td>
            <td><%= link_to "Download code", code.attachment_url %></td>
            <td>
            	<% if code.is_compiled %>
           		 	<%= button_to "Download", "codes/download/#{code.id}" %>
           		<% else %>
           			Not compiled yet
           		<% end %>
            </td>
            <td>
            	<% if code.is_compiled %>
           		 	No errors
           		<% else %>
           			<%= button_to "Show Errors", "codes/error/#{code.id}" %>
           		<% end %>
            </td>
            <td> <%= button_to "Show Code", "codes/show/#{code.id}"%></td>
            <td><%= button_to "Delete",  code, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{code.name}?" %></td>
            <td><%if code.is_compiled %>           
              This file is already compiled
            <% else %>
             <%= button_to "Compile", code, method: :compile %>
             <% end %>
         </tr>
         <% end %>
      <% end %>
   </tbody>
   
</table>
<% else %>
  <p class="sign_in"> <%= link_to "login", new_user_session_path%> </p>
  <p class="sign_up"> <%= link_to "sign up", new_user_registration_path%> </p>
<% end %>