<% if !@code.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @code.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @code, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Save", class: "btn btn-primary" %>
   <% end %>
</div>
<div class="navigation">
<%= link_to "Homepage", root_path, class: "btn btn-primary" %>
</div>